In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("hwk2-task3-aqi.ipynb")

# Task 3: Visualizing AQI during the 2017 Thomas Fire in Santa Barbara County

This task covers topics on the lesson on [time series](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-7-time-series.html). 

## Instructions 

- First, update the following cell to have a link to *your* Homework 2 GitHub repository:

**UPDATE THIS LINK**
https://github.com/rellimylime/eds220-hwk2.git


- Review the [complete rubric for this task](https://docs.google.com/document/d/131OnUDOLpOl94SlaMU9nGqT998ABrjFS/edit?usp=sharing&ouid=111507336322611936333&rtpof=true&sd=true) before starting.

- **Make at least 5 commits. Generally, commit every time you finish a major step.** We'll check your repository and view the commit history.

- **Add comments for all your code.** Err on the side of commenting too much for now. Comments should follow best practices.

- **Do not update the top cell with the `otter` import**, this is used internally for grading.


## About the data

In this task you will use [Air Quality Index (AQI)](https://www.airnow.gov/aqi/aqi-basics/) data from the [US Environmental Protection Agency](https://www.epa.gov) to visualize the impact on the AQI of the 2017 [Thomas Fire](https://en.wikipedia.org/wiki/Thomas_Fire) in Santa Barbara County.

## FINAL CODE

You will use the next code cell to complete the last exercise in the task. Leave it blank for now.

## 1

a. Read the [Air Quality Index (AQI) Basics](https://www.airnow.gov/aqi/aqi-basics/) from the AirNow.gov portal.

b. Go to [EPA's website on Air Quality Data Collected at Outdoor Monitors Across the US](https://www.epa.gov/outdoor-air-quality-data).

c. Under "Donwload Data", click on "Pre-generated Data Files".

d. Read the "About the data" section.

## 2
a. Back in the "Pre-generated Data Files" site, click on "Tables of Daily AQI".

b. Copy the URL to the 2017 Daily AQI **by County** ZIP file `daily_aqi_by_county_2017.zip`

Notice we'll be reding the data directly from its ZIP file link. This ZIP file contains a single CSV that has been compressed to save space.

<!-- BEGIN QUESTION -->

c. In the next code cell read in the data from the URL using the [`pd.read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) function with the `compression='zip'` parameter added and store it as `aqi_17`. 

d. In the same cell, read in the data for the 2018 Daily AQI by County ZIP file and store it as `aqi_18`.

In [2]:
# Import necessary libraries
import pandas as pd

# Read in data
aqi_17 = pd.read_csv('https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_county_2017.zip', compression = 'zip')
aqi_18 = pd.read_csv('https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_county_2018.zip', compression = 'zip')

<!-- END QUESTION -->

## 3
a. and b. Use the next two code cells to look at the head of both data frames. Store your results in `aqi_17_head` and `aqi_18_head`.

In [3]:
# a.
aqi_17_head = aqi_17.head()
aqi_17_head

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2017-01-01,28,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2017-01-04,29,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2017-01-10,25,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2017-01-13,40,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2017-01-16,22,Good,PM2.5,01-003-0010,1

In [4]:
# b.
aqi_18_head = aqi_18.head()
aqi_18_head

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2018-01-02,42,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2018-01-05,45,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2018-01-08,20,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2018-01-11,25,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2018-01-14,33,Good,PM2.5,01-003-0010,1

In [5]:
grader.check("q3_a")

q3_a results: All test cases passed!

<!-- BEGIN QUESTION -->

c. Use this code cell to make some other preliminary data exploration of your choosing.

In [6]:
# Display the name, non-null count, and dtype for each column
aqi_17.info()
aqi_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326801 entries, 0 to 326800
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State Name                 326801 non-null  object
 1   county Name                326801 non-null  object
 2   State Code                 326801 non-null  int64
 3   County Code                326801 non-null  int64
 4   Date                       326801 non-null  object
 5   AQI                        326801 non-null  int64
 6   Category                   326801 non-null  object
 7   Defining Parameter         326801 non-null  object
 8   Defining Site              326801 non-null  object
 9   Number of Sites Reporting  326801 non-null  int64
dtypes: int64(4), object(6)
memory usage: 24.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327541 entries, 0 to 327540
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State Name                 327541 non-null  object
 1   county Name                327541 non-null  object
 2   State Code                 327541 non-null  int64
 3   County Code                327541 non-null  int64
 4   Date                       327541 non-null  object
 5   AQI                        327541 non-null  int64
 6   Category                   327541 non-null  object
 7   Defining Parameter         327541 non-null  object
 8   Defining Site              327541 non-null  object
 9   Number of Sites Reporting  327541 non-null  int64
dtypes: int64(4), object(6)
memory usage: 25.0+ MB

In [7]:
# Display the number of unique values
display(aqi_17.nunique())
display(aqi_18.nunique())

State Name                     54
county Name                   796
State Code                     54
County Code                   160
Date                          365
AQI                           341
Category                        6
Defining Parameter              5
Defining Site                2133
Number of Sites Reporting      35
dtype: int64

State Name                     54
county Name                   793
State Code                     54
County Code                   160
Date                          365
AQI                           300
Category                        6
Defining Parameter              5
Defining Site                2105
Number of Sites Reporting      35
dtype: int64

In [8]:
# View the unique county names, and unique county codes
display(aqi_17['county Name'].unique())
display(aqi_17['County Code'].unique())

# Make sure there are no empty values in the code or name columns
display(aqi_17[(aqi_17['County Code'] == "") | (aqi_17['county Name'] == "")])

array(['Baldwin', 'Clay', 'Colbert', 'DeKalb', 'Elmore', 'Etowah',
       'Houston', 'Jefferson', 'Lawrence', 'Madison', 'Mobile',
       'Montgomery', 'Morgan', 'Russell', 'Shelby', 'Sumter', 'Talladega',
       'Tuscaloosa', 'Aleutians East ', 'Anchorage ', 'Denali ',
       'Fairbanks North Star ', 'Juneau ', 'Kenai Peninsula ',
       'Matanuska-Susitna ', 'Apache', 'Cochise', 'Coconino', 'Gila',
       'La Paz', 'Maricopa', 'Mohave', 'Navajo', 'Pima', 'Pinal',
       'Santa Cruz', 'Yavapai', 'Yuma', 'Arkansas', 'Ashley', 'Clark',
       'Crittenden', 'Garland', 'Jackson', 'Newton', 'Polk', 'Pulaski',
       'Union', 'Washington', 'Alameda', 'Amador', 'Butte', 'Calaveras',
       'Colusa', 'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno',
       'Glenn', 'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange', 'Placer',
       'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin',
       'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara',
       'Shasta', 'Siskiyou', 'Solano', 'Sonoma', 'Stanislaus', 'Sutter',
       'Tehama', 'Trinity', 'Tulare', 'Tuolumne', 'Ventura', 'Yolo',
       'Adams', 'Alamosa', 'Arapahoe', 'Archuleta', 'Boulder', 'Chaffee',
       'Clear Creek', 'Delta', 'Denver', 'Douglas', 'El Paso', 'Fremont',
       'Garfield', 'Grand', 'Gunnison', 'La Plata', 'Larimer', 'Mesa',
       'Moffat', 'Montezuma', 'Montrose', 'Park', 'Pitkin', 'Prowers',
       'Pueblo', 'Rio Blanco', 'Routt', 'San Juan', 'San Miguel', 'Weld',
       'Fairfield', 'Hartford', 'Litchfield', 'Middlesex', 'New Haven',
       'New London', 'Tolland', 'Windham', 'BAJA CALIFORNIA NORTE',
       'SONORA', 'Kent', 'New Castle', 'Sussex', 'District of Columbia',
       'Alachua', 'Baker', 'Bay', 'Brevard', 'Broward', 'Citrus',
       'Collier', 'Columbia', 'Duval', 'Escambia', 'Flagler', 'Hamilton',
       'Highlands', 'Hillsborough', 'Holmes', 'Indian River', 'Lee',
       'Leon', 'Liberty', 'Manatee', 'Marion', 'Martin', 'Miami-Dade',
       'Nassau', 'Okaloosa', 'Osceola', 'Palm Beach', 'Pasco', 'Pinellas',
       'Putnam', 'Santa Rosa', 'Sarasota', 'Seminole', 'St. Lucie',
       'Volusia', 'Wakulla', 'Bibb', 'Charlton', 'Chatham', 'Chattooga',
       'Clarke', 'Clayton', 'Cobb', 'Coffee', 'Coweta', 'Dawson',
       'Dougherty', 'Floyd', 'Fulton', 'Glynn', 'Gwinnett', 'Hall',
       'Henry', 'Lowndes', 'Murray', 'Muscogee', 'Paulding', 'Pike',
       'Richmond', 'Rockdale', 'Walker', 'Hawaii', 'Honolulu', 'Kauai',
       'Maui', 'Ada', 'Bannock', 'Benewah', 'Blaine', 'Boise', 'Bonner',
       'Bonneville', 'Canyon', 'Custer', 'Franklin', 'Idaho', 'Jerome',
       'Kootenai', 'Latah', 'Lemhi', 'Nez Perce', 'Shoshone',
       'Twin Falls', 'Valley', 'Champaign', 'Cook', 'DuPage', 'Effingham',
       'Jersey', 'Jo Daviess', 'Kane', 'Macon', 'Macoupin', 'McHenry',
       'McLean', 'Peoria', 'Randolph', 'Rock Island', 'Saint Clair',
       'Sangamon', 'Will', 'Winnebago', 'Allen', 'Bartholomew', 'Boone',
       'Brown', 'Carroll', 'Delaware', 'Dubois', 'Elkhart', 'Greene',
       'Hendricks', 'Howard', 'Huntington', 'Johnson', 'Knox', 'LaPorte',
       'Monroe', 'Perry', 'Porter', 'Posey', 'Spencer', 'St. Joseph',
       'Sullivan', 'Tippecanoe', 'Vanderburgh', 'Vigo', 'Wabash',
       'Warrick', 'Whitley', 'Black Hawk', 'Bremer', 'Cerro Gordo',
       'Clinton', 'Harrison', 'Linn', 'Muscatine', 'Palo Alto',
       'Pottawattamie', 'Scott', 'Van Buren', 'Warren', 'Woodbury',
       'Chase', 'Ford', 'Leavenworth', 'Neosho', 'Sedgwick', 'Shawnee',
       'Sherman', 'Sumner', 'Trego', 'Wyandotte', 'Bell', 'Boyd',
       'Bullitt', 'Campbell', 'Carter', 'Christian', 'Daviess',
       'Edmonson', 'Fayette', 'Greenup', 'Hancock', 'Hardin', 'Henderson',
       'Jessamine', 'Livingston', 'McCracken', 'Oldham', 'Simpson',
       'Trigg', 'Ascension', 'Bossier', 'Caddo', 'Calcasieu',
       'East Baton Rouge', 'Iberville', 'Lafayette', 'Lafourche',
       'Orleans', 'Ouachita', 'Pointe Coupee', 'Rapides', 'St. Bernard',
       'St. James', 'St. John the Baptist', 'St. Martin', 'St. Tammany',
       'Tangipahoa', 'Terrebonne', 'West Baton Rouge', 'Androscoggin',
       'Aroostook', 'Cumberland', 'Kennebec', 'Oxford', 'Penobscot',
       'York', 'Anne Arundel', 'Baltimore', 'Baltimore (City)', 'Calvert',
       'Cecil', 'Charles', 'Dorchester', 'Frederick', 'Garrett',
       'Harford', "Prince George's", 'Barnstable', 'Berkshire', 'Bristol',
       'Dukes', 'Essex', 'Hampden', 'Hampshire', 'Norfolk', 'Plymouth',
       'Suffolk', 'Worcester', 'Allegan', 'Benzie', 'Berrien', 'Cass',
       'Chippewa', 'Genesee', 'Huron', 'Ingham', 'Kalamazoo', 'Keweenaw',
       'Lenawee', 'Macomb', 'Manistee', 'Mason', 'Missaukee', 'Muskegon',
       'Oakland', 'Ottawa', 'Schoolcraft', 'St. Clair', 'Tuscola',
       'Washtenaw', 'Wayne', 'Wexford', 'Anoka', 'Becker', 'Beltrami',
       'Carlton', 'Crow Wing', 'Dakota', 'Goodhue', 'Hennepin', 'Lyon',
       'Mille Lacs', 'Olmsted', 'Ramsey', 'Saint Louis', 'Stearns',
       'Winona', 'Wright', 'Bolivar', 'DeSoto', 'Forrest', 'Grenada',
       'Hinds', 'Lauderdale', 'Yalobusha', 'Andrew', 'Buchanan',
       'Callaway', 'Cedar', 'Jasper', 'Lincoln', 'Saint Charles',
       'Sainte Genevieve', 'St. Louis City', 'Stoddard', 'Taney',
       'Cascade', 'Fergus', 'Flathead', 'Gallatin', 'Lewis and Clark',
       'Missoula', 'Phillips', 'Powder River', 'Powell', 'Ravalli',
       'Richland', 'Roosevelt', 'Rosebud', 'Sanders', 'Sheridan',
       'Silver Bow', 'Yellowstone', 'Lancaster', 'Sarpy', 'Scotts Bluff',
       'Thomas', 'Carson City', 'Churchill', 'Elko', 'Nye', 'Washoe',
       'White Pine', 'Belknap', 'Cheshire', 'Coos', 'Grafton',
       'Merrimack', 'Rockingham', 'Atlantic', 'Bergen', 'Camden',
       'Gloucester', 'Hudson', 'Hunterdon', 'Mercer', 'Monmouth',
       'Morris', 'Ocean', 'Passaic', 'Bernalillo', 'Catron', 'Chaves',
       'Dona Ana', 'Eddy', 'Lea', 'Los Alamos', 'Luna', 'Rio Arriba',
       'Sandoval', 'Santa Fe', 'Socorro', 'Taos', 'Valencia', 'Albany',
       'Bronx', 'Chautauqua', 'Dutchess', 'Erie', 'Herkimer', 'New York',
       'Niagara', 'Oneida', 'Onondaga', 'Oswego', 'Queens', 'Rockland',
       'Saratoga', 'Steuben', 'Tompkins', 'Westchester', 'Alexander',
       'Avery', 'Buncombe', 'Caldwell', 'Carteret', 'Caswell', 'Catawba',
       'Davidson', 'Durham', 'Edgecombe', 'Forsyth', 'Graham',
       'Granville', 'Guilford', 'Haywood', 'Hyde', 'Johnston', 'Lenoir',
       'Mecklenburg', 'Mitchell', 'New Hanover', 'Person', 'Pitt',
       'Rowan', 'Swain', 'Wake', 'Yancey', 'Billings', 'Burke',
       'Burleigh', 'Dunn', 'McKenzie', 'Oliver', 'Stutsman', 'Ward',
       'Williams', 'Ashtabula', 'Athens', 'Belmont', 'Butler', 'Clermont',
       'Columbiana', 'Cuyahoga', 'Geauga', 'Licking', 'Lorain', 'Lucas',
       'Mahoning', 'Medina', 'Miami', 'Noble', 'Portage', 'Preble',
       'Scioto', 'Stark', 'Summit', 'Trumbull', 'Wood', 'Adair', 'Bryan',
       'Canadian', 'Cherokee', 'Choctaw', 'Cleveland', 'Comanche',
       'Creek', 'Dewey', 'Grady', 'Kay', 'Love', 'Mayes', 'McClain',
       'Muskogee', 'Oklahoma', 'Osage', 'Pittsburg', 'Sequoyah', 'Tulsa',
       'Benton', 'Clackamas', 'Crook', 'Deschutes', 'Grant', 'Harney',
       'Josephine', 'Klamath', 'Lane', 'Multnomah', 'Umatilla', 'Wallowa',
       'Wasco', 'Allegheny', 'Armstrong', 'Beaver', 'Berks', 'Blair',
       'Bradford', 'Bucks', 'Cambria', 'Centre', 'Chester', 'Clearfield',
       'Dauphin', 'Elk', 'Indiana', 'Lackawanna', 'Lebanon', 'Lehigh',
       'Luzerne', 'Lycoming', 'Northampton', 'Philadelphia', 'Somerset',
       'Tioga', 'Westmoreland', 'Adjuntas', 'Bayamon', 'Caguas', 'Catano',
       'Fajardo', 'Guayama', 'Guayanilla', 'Guaynabo', 'Juncos', 'Ponce',
       'Providence', 'Abbeville', 'Aiken', 'Anderson', 'Berkeley',
       'Charleston', 'Chesterfield', 'Colleton', 'Darlington',
       'Edgefield', 'Florence', 'Georgetown', 'Greenville', 'Horry',
       'Lexington', 'Oconee', 'Pickens', 'Spartanburg', 'Brookings',
       'Codington', 'Hughes', 'Meade', 'Minnehaha', 'Pennington',
       'Blount', 'Claiborne', 'Dyer', 'Loudon', 'Maury', 'McMinn',
       'Roane', 'Sevier', 'Williamson', 'Wilson', 'Bexar', 'Bowie',
       'Brazoria', 'Brewster', 'Cameron', 'Collin', 'Culberson', 'Dallas',
       'Denton', 'Ector', 'Ellis', 'Galveston', 'Gregg', 'Harris',
       'Hidalgo', 'Hood', 'Hunt', 'Kaufman', 'Kleberg', 'Lubbock',
       'Maverick', 'McLennan', 'Navarro', 'Nueces', 'Parker', 'Potter',
       'Randall', 'Rockwall', 'Smith', 'Tarrant', 'Travis', 'Victoria',
       'Webb', 'Box Elder', 'Cache', 'Carbon', 'Davis', 'Duchesne',
       'Salt Lake', 'Tooele', 'Uintah', 'Utah', 'Weber', 'Bennington',
       'Chittenden', 'Rutland', 'St Croix', 'St John', 'Albemarle',
       'Alexandria City', 'Arlington', 'Bristol City', 'Caroline',
       'Fairfax', 'Fauquier', 'Fredericksburg City', 'Giles',
       'Hampton City', 'Hanover', 'Henrico', 'Hopewell City', 'Loudoun',
       'Lynchburg City', 'Norfolk City', 'Prince Edward',
       'Prince William', 'Richmond City', 'Roanoke', 'Rockbridge',
       'Salem City', 'Stafford', 'Suffolk City', 'Virginia Beach City',
       'Winchester City', 'Wythe', 'Asotin', 'Chelan', 'Clallam',
       'Cowlitz', 'Grays Harbor', 'King', 'Kitsap', 'Kittitas',
       'Klickitat', 'Lewis', 'Okanogan', 'Pierce', 'Skagit', 'Snohomish',
       'Spokane', 'Stevens', 'Thurston', 'Walla Walla', 'Whatcom',
       'Whitman', 'Yakima', 'Brooke', 'Cabell', 'Gilmer', 'Greenbrier',
       'Kanawha', 'Marshall', 'Monongalia', 'Ohio', 'Tucker', 'Ashland',
       'Dane', 'Dodge', 'Door', 'Eau Claire', 'Fond du Lac', 'Forest',
       'Kenosha', 'Kewaunee', 'La Crosse', 'Manitowoc', 'Marathon',
       'Milwaukee', 'Outagamie', 'Ozaukee', 'Racine', 'Rock', 'Sauk',
       'Sheboygan', 'Taylor', 'Vilas', 'Walworth', 'Waukesha', 'Big Horn',
       'Converse', 'Laramie', 'Natrona', 'Platte', 'Sublette',
       'Sweetwater', 'Teton', 'Uinta', 'Weston'], dtype=object)

array([  3,  27,  33,  49,  51,  55,  69,  73,  79,  89,  97, 101, 103,
       113, 117, 119, 121, 125,  13,  20,  68,  90, 110, 122, 170,   1,
         5,   7,  12,  15,  17,  19,  21,  23,  25,  35,  67, 139, 143,
         9,  11,  29,  31,  37,  39,  41,  43,  45,  47,  53,  57,  59,
        61,  63,  65,  71,  75,  77,  81,  83,  85,  87,  93,  95,  99,
       105, 107, 109, 111, 123,   2,  26,  86,  91, 115, 127, 129, 135,
       151, 153, 185, 213, 215, 223, 231, 245, 247, 261, 295, 303, 157,
       161, 163, 167, 197, 201, 145, 147, 141, 169, 173, 183, 137, 155,
       177, 181, 193, 133, 191, 195, 209, 175, 199, 221, 227, 229, 510,
       165, 171, 189, 186, 207,  28, 159, 179, 187, 149, 203, 251, 257,
       273, 323, 309, 339, 349, 355, 361, 367, 373, 375, 381, 397, 423,
       439, 453, 469, 479,  10, 520,  36, 630, 650, 670, 680, 710, 760,
       775, 800, 810, 840])

Empty DataFrame
Columns: [State Name, county Name, State Code, County Code, Date, AQI, Category, Defining Parameter, Defining Site, Number of Sites Reporting]
Index: []

In [9]:
# Display the different categories
display(aqi_17['Category'].unique())
display(aqi_18['Category'].unique())

array(['Good', 'Moderate', 'Unhealthy for Sensitive Groups', 'Unhealthy',
       'Very Unhealthy', 'Hazardous'], dtype=object)

array(['Good', 'Moderate', 'Unhealthy', 'Unhealthy for Sensitive Groups',
       'Very Unhealthy', 'Hazardous'], dtype=object)

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

d. Use this markdown cell to explain why you decided to do the exploration in c. and what information you obtained from doing it.

I started with `.info()` again to see the number of non-null values and the datatype of each column. This demonstrated that all the columns contained the expected datatypes. I then printed the number of unique values from each column. From these results I noted that the number of unique state codes was equal to the number of unique states, but the number of unique county names was not even close to the number of unique county codes. We saw in previous explorations that both of these columns have the same number of non null values and after inspecting the county names we can see that there are no obvious alternatively defined missing values or empty ones. To me this suggests that the Country Codes are reused accross states.

<!-- END QUESTION -->

## 4
We currently have two separate data frames. For this exercise we will need to "glue" them one on top of the other. The `pandas` function `pd.concat()` can achieve this. 

Pass `[aqi_17, aqi_18]` as the input of `pd.concat()` and store the output as  `aqi`.  
In the next line run `aqi`.

NOTE: When we concatenate data frames like this, without any extra parameters for `pd.concat()` the indices for the two dataframes are just "glued together", the index of the resulting dataframe is not updated to start from 0. Notice the mismatch between the index of `aqi` and the number of rows i the complete data frame.

In [19]:
aqi = pd.concat([aqi_17, aqi_18])
aqi

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2017-01-01,28,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2017-01-04,29,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2017-01-10,25,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2017-01-13,40,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2017-01-16,22,Good,PM2.5,01-003-0010,1
...,...,...,...,...,...,...,...,...,...,...
327536,Wyoming,Weston,56,45,2018-12-27,36,Good,Ozone,56-045-0003,1
327537,Wyoming,Weston,56,45,2018-12-28,35,Good,Ozone,56-045-0003,1
327538,Wyoming,Weston,56,45,2018-12-29,35,Good,Ozone,56-045-0003,1
327539,Wyoming,Weston,56,45,2018-12-30,31,Good,Ozone,56-045-0003,1
327540,Wyoming,Weston,56,45,2018-12-31,35,Good,Ozone,56-045-0003,1

In [11]:
grader.check("q4")

q4 results: All test cases passed!

<!-- BEGIN QUESTION -->

## 5

Run the following code cell and use the next markdown cell to give a line by line explanation of the code below the comment "#Simplify column names". You might need to look up the `pandas` documentation.

In [12]:
# Initial column names: notice caps and spaces (difficult to work with!)
print(aqi.columns, '\n')

# Simplify column names
aqi.columns = (aqi.columns
                  .str.lower()
                  .str.replace(' ','_')
                )
print(aqi.columns, '\n')

Index(['State Name', 'county Name', 'State Code', 'County Code', 'Date', 'AQI',
       'Category', 'Defining Parameter', 'Defining Site',
       'Number of Sites Reporting'],
      dtype='object')

Index(['state_name', 'county_name', 'state_code', 'county_code', 'date', 'aqi',
       'category', 'defining_parameter', 'defining_site',
       'number_of_sites_reporting'],
      dtype='object')

This code modifies the column names (as a pandas.core.indexes.base.Index) of our dataframe. `.str.low()` makes all alphabetic values in each name lower case and `.str.replace()` looks for spaces in the names and replaces them with underscores. The code then prints the column names again with a newline after.

<!-- END QUESTION -->

## 6
In the next code cell:

a. Select only data from `Santa Barbara` county and store it in a new variable `aqi_sb`.

b. Remove the `state_name`, `county_name`, `state_code` and `county_code` columns from `aqi_sb`.

Your dataframe should have the following columns in this order: `date`, `aqi`, `category`, `defining_parameter`, `defining_stie`, `number_of_sites_reporting`.

In [13]:
# Select only data from Santa Barbara county and store it in a new variable
aqi_sb = aqi[aqi[county_name] == "Santa Barbara"]

# Remove the state and county descriptor columns from the filtered data
aqi_sb = ...
aqi_sb

Ellipsis

In [14]:
grader.check("q6a")

q6a results: All test cases passed!

 
c. What is the data type of the `date` column? Write your answer in the markdown cell below.

*Your answer here.*

In [15]:
...

Ellipsis

<!-- BEGIN QUESTION -->

## 7
In the following cell:
1. Update the date column of `aqi_sb` to be a `pandas.datetime` object.
2. Update the index of `aqi_sb` to be the `date` column.

In [16]:
aqi_sb.date = ...
aqi_sb = ...
aqi_sb

AttributeError: 'ellipsis' object has no attribute 'date'

<!-- END QUESTION -->

## 8
In the next cell we will calculate an average over a [rolling window](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.rolling.html) using the `rolling()`method for `pandas.Series`:

- `rolling()` is a lazy method, so we need to specify what we want to calculate over each window before it does something. 
- in this example we use the aggregator function `mean()` to calculate the average over each window
- the parameter '5D' indicates we want the window for our rolling average to be 5 days. 
- we get a `pandas.Series` as ouput

Store your answer in the `rolling_average` variable. You should have two columns in your series, `date` and the averages.

In [ ]:
# Calculate AQI rolling average over 5 days
rolling_average = ...
rolling_average

In [ ]:
grader.check("q8")

## 9 

Without creating any new variables, add the mean of the AQI over a 5-day rolling window as a new column named `five_day_average` to the `aqi_sb` dataframe.

In [ ]:
aqi_sb

In [ ]:
grader.check("q9")

<!-- BEGIN QUESTION -->

## 10
Make a line plot showing both the daily AQI and the 5-day average (5-day average on top of the AQI). Make necessary updates for the plot to be accurate, informative, and polished, even if simple. You're welcome to use plotting methods and packages beyond what we have covered in class! 

Can you see the AQI going up during the Thomas Fire in December 2017?

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

<!-- END QUESTION -->

## 11


Collect all the relevant code into the first blank cell of the notebook titled "COMPLETE WORKFLOW". This single cell will have the end-to-end workflow: from importing libraries and loading the data, to producing the graph. The *only* ouput of this cell should be the graph you produced in the previous exercise. Further guidance on what to include in this final workflow is in the [assignment rubric](https://docs.google.com/document/d/1x0BoU6IH4cnOR1-n7i9CYQ9wUC37yDpYlQ4j6rCfcsU/edit?tab=t.0).